<div class="container">

<div class='container-fluid'>
    <div style="float:left">
        <nav class="navbar navbar-expand navbar-black justify-content-between">
            <ul class="navbar-nav ml-auto">
          
                <li class="nav-item active mr-4">
                   <h4> <%= link_to 'Home', root_path  %></h4>
                </li>
                >
                <li class="nav-item mr-3">
                   <h4><%= link_to 'Teams', teams_path %><h4>
                </li>
            </ul>
    </div>
</div>
<div class="container">
    <div style="float:left">
       <h1><%= @team_count %> Teams</h1>
    </div>
    <div style="float:right">
        <%= link_to("New",new_team_path, class:"btn btn-success")%>
        <span>
           <%= link_to("Reset to Default","/teams",method: :delete,data:{confirm: "Are you sure you want to reset to default ?"}, class:"btn btn-danger") %>
        </span> 
    </div>  
</div>
<br/>
    <table class="table table-striped" cellspacing="0" width=100%>
    <thead>
      <tr class="table-primary">
        <th>Name</th>
        <th>Hometown</th>
        <th>Formed</th>
        <th>Active</th>
        <th>Members</th>   
      </tr>
    </thead>
    <% @teams.each do |team|%>  
        <tbody>
        <tr> 
            <td><%= link_to(team["name"])%></td>
            <td><%= team["homeTown"] %></td>
            <td><%= team["formed"] %></td>
            <td><%= team["active"] %></td>
            <td><%= team["members"].length %></td>
        </tr>
        </tbody>
    <% end %>
  </table>
</div>