

<%= simple_form_for @member do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :secret_identity%>
  <%= f.input :powers %>
  <%= f.label :team_id%>
  <div style="margin-bottom: 20px">
    <%= f.collection_select(:team_id, Team.all, :id, :name) %>
  </div>
  <%= f.button :submit, class:"btn btn-outline-primary" %>
<% end %>
