<%= render 'navbar'%>
<div class='row container mt-3 mx-auto' style="border:2px groove;width:700px;padding:30px;">
    <div class="col">
        <img src="https://i.ytimg.com/vi/azm_kys4NEw/maxresdefault.jpg" height='300px'width='300px';>
    </div>
<span>
    <div class='col mt-3'>
        <h4><b>Edit Member</b></h4>
        <hr>
    <%= form_with model:@member, local: true do |f| %>

            <% if @member.errors.present? %>
                <%= @member.errors.full_messages.join(', ')%>
            <% end %>

                <div class="form-group">
                    <%= f.text_field :name,placeholder:"Name *",class:'form-control' %> 
                </div>
                <br/>
                <div class="form-group">
                    <%= f.text_field :age,placeholder:"Age *" ,class:'form-control' %> 
                </div>
                <br/>
                <div class="form-group">
                    <%= f.text_field :secret_identity,placeholder:"Secret Identity *" ,class:'form-control' %> 
                </div>
                <br/>     
                <div class="form-group">
                    <%= f.text_field :powers,placeholder:" Powers * " ,class:'form-control' %> 
                </div>
                <div class="form-group">
                    <%= f.label :team %> 
                    <%= f.select(:team, options_for_select([["Eronators",'Eronators'],["Teen Titans",'Teen Titans'],["Tyradians",'Tyradians'],["Avengers",'Avengers'],["Minutemen",'Minutemen']], f.team), {include_blank: false}) %>
                </div>

        <br/>
        
        <%= f.submit class:"btn btn-outline-primary"%>
        
        <% end %>
    </div>
<span>
</div>